.studio-card {
  // max-width: 382px;
  width: $studio-card-width;
  margin-bottom: $gutter-xs;
}

.studio-card__cover {
  height: 260px;
}

.price-label {
  position: absolute;
  background: #2f65eb;
  border-radius: 3px 0 0 3px;
  line-height: 24px;
  min-height: 24px;
  max-height: 24px;
  min-width: 23%;
  padding: 0 5px;
  top: 12.5%;
  right: 0;
  bottom: 80%;
  text-align: center;
  color: white;
}

@media (min-width: $lg) {
  .studio-card {
    margin-bottom: $gutter-lg;
  }
}
