html {
  // box-sizing: border-box;
  font-size: 62.5%;
  // -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #fafafa; // from Material UI
  // font-family: 'Roboto', 'Helvetica', 'Verdana', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  // min-height: 100vh;
  // height: 100%; // at Yandex site
}

// from Google Fonts site:
html,
body {
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box; // OR
  // box-sizing: inherit; // if it was set for html
}

#app {
  // display: flex;
  // justify-content: center;
}

// content
.page {
  // overflow: auto;
  // NOTE: excess if app-bar is relatively positioned
  padding-top: 4.5rem; // TODO: top must equal to app-bar height variable
  // position: fixed;
  // width: 100%;
  // z-index: -1;
}

@media print {
  body {
    background-color: #fff;
  }
}
